html{
    height: 100%;
    background: radial-gradient(circle,#fff,#ccc);
    background: url(hack_image.jpg);
    background-repeat: no-repeat;
    background-size:cover;

} 
#nav_bar{
    width: 100%;
    height: 30px;
    margin: 2px auto 10px auto;
    /* background-color: rgb(231, 191, 117); */
    display: flex;
    justify-content: flex-end;
}
.b{
    /* width: 85px; */
 /* height: 30px; */
 padding: 5px 10px;
 /* background-color: white; */
 /* float: left; */
 margin-right: 5px;
 /* border-radius: 3px; */
 cursor: pointer;
 /* box-shadow: 0px 2px 0px 2px grey; */
 /* text-align: center; */
 /* line-height: 80px; */
 display: flex;
 justify-content: center;
 align-content: center;
 transition: all 0.3s;


}


#b4{
    margin-right: 20px;
}
.b:hover{
 background-color: rgb(231, 145, 15);
 color: white;
 /* box-shadow:0px 2px 0px 2px rgb(106, 106, 226); */
}
#menu{
    position: fixed;
    top: 60%;
    left: 5%;
    display: flex;
    

} 
#menu div{
    padding: 5px 10px;
    background-color: white;
    color: black;
    margin-right: 5px;
    font-size: 24px;
}

